    * {    
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
    }

    body {
        font-family: 'Poppins', Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #ffdab9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden
    }
    h1{
        font-family: cursive;
    }
    #carregar{
        align-items: center;
        display: flex;
        justify-content: center;
        min-height: 90vh;
        transform: scale(3);
    }
    #carrega{
        animation: rodar 3s infinite;
        border: 4px solid #fa9063;
        border-right-color: #ee743f;
        height: 40px;
        width: 40px;
        border-radius: 40px;
    }

    @keyframes rodar {
    to{
        transform: rotate(3turn);

    }
        }


    #load{
        position:fixed;
        top:0;
        left:0 ;
        right:0;
        bottom:0;
        background-color:#ffdab9;
    }
    .header {
        width: 100%;
        padding: 30px 0;
        background-color: #f6a685;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        position: relative;
    }

    .header h1 {
        font-size: 2.5em;
        color: #ffffff;
        margin: 0;
    }

    .back-button {
        position: absolute;
        top: 40px;
        left: 20px;   
        background: none;
        border: none;
        cursor: pointer;
        transition: transform 0.3s;

    }

    #seta{
        width: 50px;
        height: 50px;
        margin-left: 50px;
        margin-top: -10px;
    }

    .back-button:hover {
        transform: scale(1.1);
    }

    .form-container {
        background: #f6a685;
        border-radius: 10px;
        padding: 30px;
        width: 100%;
        max-width: 1300px;
        margin-top: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    
    margin-top: 3%;
        
    }

    .form-section {
        width: 45%;
        margin-left: 3%;
    }
    
    .junto{
        display: flex;
    }

    .form-container h2 {
        color: #ffffff;
        margin-bottom: 20px;
        font-size: 1.8em;
        text-align: center;
    }

    .form-group {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .form-group label {
        color: #ffdab9;
        font-size: 1.2em;
        flex: 1;
        text-align: left;
        margin-right: 10px;
    }

    .form-group input, .form-group select {
        width: 70%;
        padding: 12px;
        font-size: 1.1em;
        border: none;
        border-radius: 8px;
        background: #ffdab9;
        color: #3b3a3a;
        text-align: center;
    }

    .form-group img {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }

    .calculate-button {
        background: #2764ae;
        color: #ffffff;
        border: none;
        border-radius: 50px;
        padding: 12px 25px;
        font-size: 1.3em;
        cursor: pointer;
        transition: transform 0.3s, box-shadow 0.3s;
        width: 90%;
    margin-left: 4%;
        margin-top: 20px;
        
    }

    .calculate-button:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    }

    .result-container {
        margin-top: 20px;
        padding: 20px;
        background: #ffdab9;
        border-radius: 10px;
        color: #ffffff;
        font-size: 1.5em;
        text-align: center;
        display: none;
    }

    select {
        padding: 15px;
        font-size: 1.2em;
        border-radius: 8px;
        background-color: #34495e;
        color: #ecf0f1;
    }

    input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }